@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,200&display=swap');

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M73.89 0C109.56 9.94 106.83 39.02 140 39.02C173.88 39.02 171.51 10.17 208 0C241.51 -9.34 244 0 280 0C350 0 350 0 420 0C490 0 490 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C1031.13 0 1040.29 -17.07 1082.25 0C1110.29 11.41 1100.41 56.95 1120 56.95C1140.29 56.95 1132.65 11.94 1162 0C1202.65 -16.54 1211 0 1260 0C1330 0 1330 0 1400 0C1470 0 1505 -35 1540 0C1575 35 1540 70 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1343.38 560 1329.43 580.55 1286.76 560C1259.43 546.84 1288.19 499.97 1260 492.59C1204.81 478.15 1189.17 500.79 1120 516.36C1049.17 532.31 1036.62 577.58 980 555.63C912.37 529.4 923.65 489.3 871.5 420C853.65 396.29 865.53 376.09 840 369.6C779.78 354.29 763.16 358.62 700 376.39C673.6 383.82 660.88 400.19 660.88 420C660.88 436.45 681.38 433.29 700 448.91C764.81 503.29 827.75 528.34 827.75 560C827.75 583.89 763.88 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 39.2 590.8 0 560C-30.8 535.8 -2.69 504.69 0 450C0.75 434.69 -0.17 433.57 6.89 420C44.04 348.57 90.53 338.88 88.42 280C87.08 242.63 23.89 265.32 0 227.5C-20.32 195.32 0 183.75 0 140C0 70 -24.18 45.82 0 0C12.76 -24.18 39.56 -9.57 73.89 0' stroke='rgba(27%2c 148%2c 61%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 129.06C690.26 129.06 679.41 133.82 679.41 140C679.41 146.74 690.52 154.89 700 154.89C707.42 154.89 713.21 146.94 713.21 140C713.21 134.02 707.16 129.06 700 129.06' stroke='rgba(0%2c 152%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 122.97C968.43 122.97 957.89 129.99 957.89 140C957.89 153.16 968.01 169.3 980 169.3C993.38 169.3 1008.64 152.78 1008.64 140C1008.64 129.61 993.81 122.97 980 122.97' stroke='rgba(240%2c 255%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 340.87C249.33 359.26 254.37 380.27 254.37 420C254.37 463.17 248.65 499.56 280 506.67C331.46 518.34 353.88 488.81 420 457.56C445.57 445.47 463.38 443.69 463.38 420C463.38 375.24 459.78 337.82 420 320.65C368.09 298.25 332.15 309.59 280 340.87' stroke='rgba(0%2c 225%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 376.79C1357.18 376.79 1310.26 398.29 1310.26 420C1310.26 441.77 1357.21 463.75 1400 463.75C1431.25 463.75 1458.33 441.79 1458.33 420C1458.33 398.31 1431.21 376.79 1400 376.79' stroke='rgba(0%2c 229%2c 27%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 40C42.1 26.88 70.41 67.22 140 96.39C189.67 117.22 238.52 110.34 238.52 140C238.52 176.48 195.8 220.99 140 228.67C76.54 237.4 57.49 209.22 0 172.81C-12.51 164.88 0 156.4 0 140C0 90 -27.9 48.69 0 40' stroke='rgba(0%2c 225%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M537.6 140C556.05 74.25 532.54 62.23 542.5 0C543.74 -7.77 551.25 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C1011.46 0 1042.92 -14.76 1042.92 0C1042.92 23.08 1015.35 41.88 980 75.68C942.14 111.88 896.49 102.21 896.49 140C896.49 189.72 934.71 250.7 980 250.7C1030.55 250.7 1032.47 193.5 1088.18 140C1102.47 126.28 1102.66 116.27 1120 116.27C1146.57 116.27 1148.96 126.2 1176 140C1218.96 161.93 1214.27 178 1260 187.73C1326.27 201.83 1338.48 204.44 1400 187.66C1425.98 180.57 1435 163.16 1435 140C1435 118.97 1424.25 105.6 1400 99.27C1336.75 82.77 1314.66 122.28 1260 94.35C1217.53 72.65 1205.75 31.48 1205.75 0C1205.75 -15.69 1232.88 0 1260 0C1330 0 1330 0 1400 0C1470 0 1505 -35 1540 0C1575 35 1540 70 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1369.12 560 1338.24 571.35 1338.24 560C1338.24 545.1 1368.13 532.51 1400 507.5C1457.34 462.51 1516.67 463.58 1516.67 420C1516.67 376.62 1463.56 343.11 1400 333.58C1335.22 323.86 1325.38 350.02 1260 381.5C1235.63 393.23 1243.51 405.31 1220.51 420C1173.51 450.01 1172.96 453.09 1120 470.91C1052.7 493.56 1039.39 515.71 980 500.94C937.01 490.25 944.79 462.48 915.25 420C874.79 361.81 893.93 324.9 840 299.6C786.31 274.41 758.83 288.3 700 319.02C643.53 348.5 609.41 374.12 609.41 420C609.41 458.09 656.09 451.75 700 486.96C743.39 521.75 784 539.19 784 560C784 575.71 742 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C372.88 560 325.77 573.68 325.77 560C325.77 543.8 375.47 533.59 420 500.24C468.92 463.59 502.74 469.84 512.68 420C524.7 359.72 457.89 347.73 463.92 280C470.35 207.73 516.76 214.25 537.6 140' stroke='rgba(0%2c 152%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 74.37C641.58 74.37 576.47 102.92 576.47 140C576.47 180.41 643.15 229.36 700 229.36C744.54 229.36 779.25 181.63 779.25 140C779.25 104.14 742.97 74.37 700 74.37' stroke='rgba(0%2c 225%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M64.26 420C86.33 361.35 103.97 315 140 315C174.38 315 185.05 362.91 205.07 420C228.01 485.41 246.16 516.44 225.91 560C213.62 586.44 182.95 560 140 560C93.9 560 62.77 587.68 47.8 560C24.9 517.68 40.23 483.85 64.26 420' stroke='rgba(0%2c 152%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 19.69C680.2 19.69 661.82 5.21 661.82 0C661.82 -4.63 680.91 0 700 0C728.63 0 757.27 -4.79 757.27 0C757.27 5.06 727.92 19.69 700 19.69' stroke='rgba(240%2c 255%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 28.38C946.24 28.38 905 7.33 905 0C905 -6.86 942.5 0 980 0C991.8 0 1003.6 -5.53 1003.6 0C1003.6 8.66 995.54 28.38 980 28.38' stroke='rgba(27%2c 148%2c 61%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 18.26C1250.22 15.94 1249.5 6.09 1249.5 0C1249.5 -3.04 1254.75 0 1260 0C1330 0 1330 0 1400 0C1470 0 1505 -35 1540 0C1575 35 1540 70 1540 140C1540 210 1540 210 1540 280C1540 309.62 1559.98 337.75 1540 339.23C1489.98 342.94 1472 302 1400 290.37C1332 279.39 1318.82 265.68 1260 294C1184.2 330.5 1196.38 358.39 1130.77 420C1126.38 424.12 1125.92 424.42 1120 425.45C1050.54 437.54 1045.05 448.45 980 446.25C964.55 445.73 959 434.92 959 420C959 391.79 963.48 386.61 980 360C1006.92 316.61 1011.34 318.57 1045.88 280C1081.34 240.39 1076.21 206.24 1120 203.64C1183.27 199.88 1186.74 251.97 1260 267.27C1326.74 281.21 1344.83 292.7 1400 262.13C1459.67 229.07 1489.69 199.35 1489.69 140C1489.69 86.1 1456.71 65.7 1400 35.64C1341.86 4.83 1325.47 33.76 1260 18.26' stroke='rgba(0%2c 229%2c 27%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M532.55 280C532.55 255.11 540.53 234.84 560 234.84C593.14 234.84 637.78 247.57 637.78 280C637.78 333.78 588.09 407.27 560 407.27C535.48 407.27 532.55 341.32 532.55 280' stroke='rgba(0%2c 152%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M121.64 420C122.26 404.89 131.27 394.55 140 394.55C148.33 394.55 155.21 405.45 155.77 420C158.39 488.18 153.9 493.04 146.36 560C146.02 563.04 143.18 560 140 560C136.58 560 133.6 563.25 133.17 560C124.42 493.25 118.85 487.62 121.64 420' stroke='rgba(0%2c 152%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M393.08 560C393.08 555.37 407.48 552.77 420 542.93C490.94 487.15 487.85 433.37 560 428.75C627.85 424.41 631.41 475.06 700 525C721.53 540.68 740.25 550.03 740.25 560C740.25 567.53 720.13 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C406.54 560 393.08 563.91 393.08 560' stroke='rgba(27%2c 148%2c 61%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1389.71 560C1389.71 557.52 1393.64 551.25 1400 551.25C1425.71 551.25 1453.85 557.8 1453.85 560C1453.85 562.17 1426.93 560 1400 560C1394.86 560 1389.71 561.89 1389.71 560' stroke='rgba(27%2c 148%2c 61%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product__name h1 {
  font-family: 'Bitter', serif;
  letter-spacing: 5px;
  font-size: 40px;
  color: rgb(109, 232, 109);
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 7px;
  grid-row-gap: 8px;
}

.div1 {
  grid-area: 4 / 1 / 5 / 6;
}

.div1 img {
  width: 100px;
  height: 100px;
}

.div2 {
  grid-area: 1 / 1 / 4 / 2;
}

.div2 img {
  width: 100%;
  /*Left*/
}

.div3 {
  grid-area: 1 / 5 / 4 / 6;
}

.div3 img {
  width: 100%;
  height: 20%;
  /*Right*/
}

.div4 {
  grid-area: 1 / 2 / 3 / 3;
}

.div4 img {
  width: 100%;
  height: 200px;
}

.div5 {
  grid-area: 2 / 3 / 3 / 5;
}

.div5 img {
  width: 100%;
  height: 150px;
  /*Centro top poner flex row*/
}

.div6 {
  grid-area: 1 / 3 / 2 / 5;
}

.div6 img {
  width: 100%;
  height: 200px;
  /*Centro bottom poner flex row*/
}

.div7 {
  grid-area: 3 / 2 / 4 / 5;
}

.parent>section {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 1.5px 0px black;
}

.product__info span {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.product__info p {
  text-align: justify;
  color: gray;
}

/* Estos son los estilos para la barra de scroll*/
::-webkit-scrollbar {
  border-radius: 4px;
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 203, 7);
  border-radius: 4px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 203, 7, 0.8);
  ;
}