@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,200&display=swap');

body {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1116%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M11.48 140C11.48 132.01 0.78 133.65 0 124.09C-4.96 63.65 -32.89 29.15 0 0C37.11 -32.89 70 0 140 0C210 0 210 0 280 0C350 0 350 0 420 0C465 0 465.46 -3.84 510 0C535.46 2.19 540.31 -3.43 560 12.07C629.27 66.57 624.72 75.36 687.93 140C694.72 146.94 691.07 155.22 700 155.22C740.85 155.22 778.81 169.35 787.5 140C801.78 91.74 729.97 42.58 745.94 0C756.22 -27.42 792.97 0 840 0C910 0 910 0 980 0C1050 0 1050 0 1120 0C1190 0 1190 0 1260 0C1282.64 0 1288.23 -12.66 1305.29 0C1358.23 39.28 1356.96 103.87 1400 103.87C1437.86 103.87 1423.05 32.67 1467.08 0C1493.05 -19.27 1527.51 -23.97 1540 0C1563.97 46.03 1540 70 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1050 560 1050 560 980 560C925.75 560 914.59 578.47 871.5 560C844.59 548.47 856.24 500 840 500C823.47 500 833.56 548.17 805.95 560C763.56 578.17 752.97 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 350 0 350 0 280C0 218.14 -4.94 216.57 0 156.28C0.8 146.57 11.48 148.11 11.48 140' stroke='rgba(0%2c 229%2c 27%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 60.45C928.98 60.45 858.94 89.93 855 140C850.3 199.7 946 203.7 962.72 280C976.68 343.7 910.56 361.55 916.36 420C919.2 448.62 949.09 454.15 980 454.15C1005.91 454.15 1026.84 445.91 1030 420C1037.45 358.84 1004.32 350.49 1001.21 280C998.14 210.49 1024.16 207.58 1017.63 140C1013.55 97.81 1010.3 60.45 980 60.45' stroke='rgba(0%2c 229%2c 27%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 248.89C1244.77 248.89 1240.76 261.27 1232 280C1200.76 346.83 1171.21 364.19 1180 420C1185.21 453.06 1217.41 450.62 1260 457.75C1327.41 469.04 1332.65 468.63 1400 456.84C1440.49 449.75 1475.68 440.74 1475.68 420C1475.68 397.76 1435.3 398.76 1400 370.88C1346.68 328.76 1349.8 324.76 1298.43 280C1279.8 263.76 1277.99 248.89 1260 248.89' stroke='rgba(0%2c 152%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 393.24C127.12 393.24 113.24 402.91 113.24 420C113.24 469.82 127.5 527.06 140 527.06C152.4 527.06 163.04 470.6 163.04 420C163.04 403.69 152.02 393.24 140 393.24' stroke='rgba(240%2c 255%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 393.95C530.59 393.95 501.05 398.59 501.05 420C501.05 454.69 530.78 506.15 560 506.15C588.98 506.15 617.44 454.86 617.44 420C617.44 398.76 588.78 393.95 560 393.95' stroke='rgba(240%2c 255%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M68.85 140C68.85 92.09 24.97 95.33 0 44.55C-9.45 25.33 -16.9 5.38 0 0C53.1 -16.9 70 0 140 0C210 0 210 0 280 0C323.96 0 367.91 -13.39 367.91 0C367.91 16.14 320.03 24.91 280 59.06C237.99 94.91 203.82 97.93 203.82 140C203.82 186.36 229.68 210.47 280 235.93C337.77 265.16 366.02 274.51 420 249.38C469.04 226.55 446.81 189.59 486.04 140C516.81 101.11 523.78 72.41 560 72.41C594.56 72.41 596.05 104.2 627.59 140C666.05 183.64 653.1 221.3 700 231.3C759.31 243.95 780.32 172.05 840 185.29C890.08 196.4 919.51 231.28 919.51 280C919.51 333.21 893.73 358.69 840 389.15C783.97 420.91 768.01 413.16 700 404.44C628.01 395.21 631.66 360.03 560 353.26C491.66 346.81 477.39 352.39 420 378C402.61 385.76 410.45 398.9 410.45 420C410.45 446.15 411.95 447.19 420 472.5C434.22 517.19 455 528.1 455 560C455 571.85 437.5 560 420 560C350 560 350 560 280 560C236.73 560 207.29 586.66 193.45 560C170.96 516.66 222.75 482.94 207.34 420C196.03 373.82 175.13 341.76 140 341.76C102.34 341.76 71.75 372.53 61.76 420C48.78 481.65 112.72 517.7 94.06 560C81.84 587.7 18.9 588.13 0 560C-28.13 518.13 0 490 0 420C0 350 0 350 0 280C0 258.84 -9 255.98 0 237.67C25.42 185.98 68.85 188.65 68.85 140' stroke='rgba(0%2c 152%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 63C812.74 63 800.63 20.59 800.63 0C800.63 -10.91 820.32 0 840 0C892.5 0 945 -14.54 945 0C945 16.96 884.93 63 840 63' stroke='rgba(240%2c 255%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1055.27 140C1040.33 67.19 978.94 38.63 996.8 0C1011.3 -31.37 1058.4 0 1120 0C1173.11 0 1181.92 -16.32 1226.21 0C1251.92 9.47 1240.42 27.89 1260 51.58C1298.29 97.89 1341.95 100.86 1341.95 140C1341.95 171.74 1296.48 161.4 1260 193.33C1216.5 231.4 1215.1 232.5 1182 280C1145.1 332.94 1151.72 394.21 1120 394.21C1087.84 394.21 1069.93 341.63 1054.24 280C1037.57 214.53 1069.05 207.19 1055.27 140' stroke='rgba(0%2c 152%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1479.33 140C1519.37 76.48 1524.18 0 1540 0C1554.52 0 1540 70 1540 140C1540 210 1540 210 1540 280C1540 331.93 1567.71 378.04 1540 383.87C1497.71 392.77 1467.62 350.08 1400 309.47C1381.15 298.15 1367.06 297.43 1367.06 280C1367.06 253.73 1379.31 247.87 1400 222.07C1435.44 177.87 1449.37 187.52 1479.33 140' stroke='rgba(0%2c 229%2c 27%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M676.67 560C676.67 526.87 691.21 476 700 476C708.55 476 711.35 522.96 711.35 560C711.35 564.96 705.67 560 700 560C688.34 560 676.67 568.87 676.67 560' stroke='rgba(0%2c 152%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M959 560C959 554.03 966.95 545.89 980 539.51C1047.45 506.52 1047.43 492.25 1120 481.25C1187.43 471.03 1189.81 491.66 1260 497.08C1329.81 502.48 1335.11 484.62 1400 502.89C1446.84 516.08 1483.46 544.36 1483.46 560C1483.46 572.91 1441.73 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1050 560 1050 560 980 560C969.5 560 959 564.27 959 560' stroke='rgba(240%2c 255%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M126.23 140C115.31 66.84 52.54 45.71 57.04 0C59.43 -24.29 98.52 0 140 0C210 0 210 0 280 0C283.25 0 286.51 -0.99 286.51 0C286.51 1.19 282.71 1.54 280 4.37C215.63 71.54 176.5 62.75 152.35 140C133.42 200.56 198.34 225.37 193.85 280C192.16 300.51 166.78 290.29 140 290.29C119.27 290.29 100.4 297.23 98.82 280C93.51 222.09 136.2 206.84 126.23 140' stroke='rgba(0%2c 229%2c 27%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M552.08 140C554.47 135.22 556.12 132.76 560 132.76C563.7 132.76 564.44 135.72 567.24 140C612.71 209.34 658.79 226.53 656.55 280C655.17 312.81 607.53 312.56 560 312.56C522.42 312.56 487.68 309.55 486.32 280C483.72 223.27 517.63 208.84 552.08 140' stroke='rgba(240%2c 255%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1092.9 140C1082.72 69.59 1056.94 50.96 1066.8 0C1070.49 -19.04 1093.4 0 1120 0C1142.93 0 1151.42 -15.25 1165.86 0C1217.73 54.75 1260.61 74.02 1252.63 140C1243.68 214.02 1190.37 208.66 1132 280C1124.05 289.71 1126.14 302.11 1120 302.11C1113.77 302.11 1109.35 292.44 1107.27 280C1095.8 211.38 1102.96 209.59 1092.9 140' stroke='rgba(0%2c 229%2c 27%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M742 280C742 257.04 796.03 236.76 840 236.76C863.18 236.76 876.3 257.76 876.3 280C876.3 304.29 864.13 329.83 840 329.83C796.98 329.83 742 303.57 742 280' stroke='rgba(0%2c 229%2c 27%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 378.82C2.61 378.82 5.78 399.26 10.29 420C25.47 489.85 43.41 505.12 39.38 560C38.27 575.12 4.32 575.37 0 560C-15.37 505.37 0 490 0 420C0 399.41 -2.53 378.82 0 378.82' stroke='rgba(0%2c 152%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M251.65 420C256.35 372.12 261.04 326.67 280 326.67C300.67 326.67 321.54 369.69 330.91 420C343.27 486.35 342.88 506.56 323.45 560C317.43 576.56 301.73 560 280 560C268.54 560 259.08 569.84 257.09 560C244.91 499.84 244.9 488.78 251.65 420' stroke='rgba(240%2c 255%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1192.26 560C1192.26 553.93 1224.9 538.27 1260 536.4C1328.77 532.74 1331.47 538.59 1400 548.95C1409.54 550.39 1416.15 556.97 1416.15 560C1416.15 562.5 1408.07 560 1400 560C1330 560 1330 560 1260 560C1226.13 560 1192.26 565.73 1192.26 560' stroke='rgba(240%2c 255%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1116'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product__name h1 {
  font-family: 'Bitter', serif;
  letter-spacing: 5px;
  font-size: 40px;
  color: rgb(109, 232, 109);
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 7px;
  grid-row-gap: 8px;
}

.div1 {
  grid-area: 4 / 1 / 5 / 6;
}

.div1 img {
  width: 100px;
  height: 100px;
}

.div2 {
  grid-area: 1 / 1 / 4 / 2;
}

.div2 img {
  width: 100%;
  /*Left*/
}

.div3 {
  grid-area: 1 / 5 / 4 / 6;
}

.div3 img {
  width: 100%;
  height: 20%;
  /*Right*/
}

.div4 {
  grid-area: 1 / 2 / 3 / 3;
}

.div4 img {
  width: 100%;
  height: 200px;
}

.div5 {
  grid-area: 2 / 3 / 3 / 5;
}

.div5 img {
  width: 100%;
  height: 150px;
  /*Centro top poner flex row*/
}

.div6 {
  grid-area: 1 / 3 / 2 / 5;
}

.div6 img {
  width: 100%;
  height: 200px;
  /*Centro bottom poner flex row*/
}

.div7 {
  grid-area: 3 / 2 / 4 / 5;
}

.parent>section {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 1.5px 0px black;
}

.product__info span {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.product__info p {
  text-align: justify;
  color: gray;
}

/* Estos son los estilos para la barra de scroll*/
::-webkit-scrollbar {
  border-radius: 4px;
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 203, 7);
  border-radius: 4px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 203, 7, 0.8);;
}